.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# IntelliJ
*.iml
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
/.idea/assetWizardSettings.xml
.idea/.name


#Google Services (e.g. APIs or Firebase)
google-services.json
